@import "bootstrap/bootstrap";

@contentWidth: 940px;

body {
  background: #F0F2F2 url(../img/background.png) no-repeat;
  background-attachment: fixed;
}

h1,h2,h3, h4, h5, h6 {
  color: #7DA6C6;
}

@hTopMargin: 10px;
@hTextHeight: 135px;
@hBgHeight: 280px;
@hBottomMargin: 40px;


@headerFullHeight: @hTopMargin + @hTextHeight + @hBgHeight + @hBottomMargin;

header {
  position: fixed;
  margin-left: -@contentWidth/2;
  width: @contentWidth;

  top: @hTopMargin;
  left: 50%;
  height: @hTextHeight + @hBgHeight;
  background: url(../img/html5.png) 50% 100% no-repeat;

  background-size: auto @hBgHeight;

  z-index: -10;
  text-align: center;

  h1 {
    font-size: @hTextHeight*0.4;
    line-height: @hTextHeight*0.4;
  }
}

.wrapper {
  max-width: @contentWidth;
  margin: auto;
}

.content {
  margin-top: 50px;
  border-radius: 15px;
  background-color: white;
  padding: 45px 30px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px #CCC;
}

.home-content {
  margin-top: @headerFullHeight;
}

a:not([href]) {
  color: #333;

  &:hover {
    text-decoration: none;
  }
}

.readme {
  box-sizing: border-box;
  font-size: 0.8em;
}

.supported-browsers {
  float: right;
  & > .browser {
    display: inline-block;

    width: 50px;
    height: 50px;

    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;

    background: url(../img/browsers.png) no-repeat 0 0;
  }
}

@media (min-width: 551px) {
  .ribbon {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;

    & > .forkme {
      display: block;
      width: 150px;
      height: 150px;

      text-indent: 110%;
      white-space: nowrap;
      overflow: hidden;

      background: url(https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png) no-repeat 0 0;
      border: none;
      box-shadow: none;
    }
  }
}

@media (max-width: 800px) {
  .row-fluid {
    .contents, .readme {
      float: none;
      display: block;
      width: auto;
      margin-left: 0;
    }
  }
}
@media (max-width: 550px) {

  body {
    background-attachment: scroll;
  }

  @hTopMargin2: 30px;
  @hTextHeight2: 70px;
  @hBgHeight2: 170px;

  header {
    position: static;
    width: auto;
    margin: auto;

    margin-top: @hTopMargin2;
    padding-bottom: @hBgHeight2;
    background-size: auto @hBgHeight2;
    height: auto;
    h1 {
      font-size: @hTextHeight2*0.4;
      line-height: @hTextHeight2*0.4;
    }
  }

  .content {
    margin-top: 0;
    padding: 22.5px 20px;
  }

  .wrapper {
    padding: 0 5px;
  }

  .ribbon {
    text-align: center;
    margin: 10px auto;
  }

}