section
  h1 Sublime Text Editor

section
  h2 Package control
  a(href="http://wbond.net/sublime_packages/package_control") http://wbond.net/sublime_packages/package_control

section
  h2 Highly customizable
  p Default Vs User settings configuration
  p.fragment <b>Use user always!</b>

section
  h2 Project files
  pre
    code.
      { 
        "folders":
        [
          {
            "path": ".",
            "folder_exclude_patterns": ["node_modules"]
          }
        ],
        "settings":
        {
          "tab_size": 2,
          "translate_tabs_to_spaces": true,
          "word_wrap": "true"
        }
      }

section
  h2 Build system
  pre
    code.
      "build_systems" : [
        {
          "name": "parse_slides",
          "working_dir": "$project_path",
          "cmd": ["bin/jade-build", "$file"],
          "selector": "source.jade"
        },
        {
          "name": "compile_LESS",
          "working_dir": "$project_path",
          "cmd": [
            "node_modules/less/bin/lessc", "less/style.less", "generated/assets/css/style.css"
          ],
          "selector": "source.css.less"
        }
      ]

section
  h2 Configurable keyboard shortcuts
  p Existing layouts: Eclipse, Bean, TextMate 2, Vim...

section
  h2 Themes
  p Install new themes through package control

section
  h2 Sublime keyboard shortcuts
  ul
    li Command panel: <br/><b>Ctrl + Shift + P</b> | <b>⌘ + Shift + P</b>
    li Open file: <br/><b>Ctrl + P</b> | <b>⌘ + P</b>
    li Navigate between methods: <br/><b>Ctrl + R</b> | <b>⌘ + R</b>

section
  h2 Sublime keyboard shortcuts
  ul
    li Surround with tags: <br/><b>Shift + Alt + W</b> | <b>Ctrl + Shift + W</b>
  div
    img(src="assets/raster/surround-with-tags.png")

section
  h2 Need more space?
  ul
    li Open side by side: <br/><b>Shift + Alt + [123458]</b> | <b>⌘ + ⌥ + [123458]</b> 
    li Toggle side bar: <br/><b>Ctrl + K, Ctrl + B</b> | <b>⌘ + K, ⌘ + B</b>
    li Distraction free: <br/><b>Shift + F11</b> | <b>Ctrl + Shift + ⌘ + F</b>
  img(src="assets/raster/two-columns.png")

section
  h2 Block select
  p <b>Shift + Right-button drag</b> | <b>⌘ + Left-button drag</b>
  .row-fluid
    .span6
      img(src="assets/raster/block-select.png")
    .span6
      img(src="assets/raster/block-select-after.png")

section
  h2 Multiple cursors
  ul
    li <b>Ctrl + click</b> | <b>⌘ + click</b>
    li <b>Ctrl + double click</b> | <b>⌘ + double click</b>
    li <b>Ctrl + click, then shift + click</b> | <b>⌘ + click</b>
    li <b>Select block, then Shift + Ctrl + L</b> | <b>⌘ + Shift + L</b>

section
  h2 Editing
  ul
    li Select word: <b>Ctrl + D</b> | <b>⌘ + D</b>
    li Select all the word ocurrences: <b>Alt + F3</b> | <b>Ctrl + ⌘ + G</b>
    li Select line: <b>Ctrl + L</b> | <b>⌘ + L</b>
    li Indent line: <b>Ctrl + ], Tab</b> | <b>⌘ + ], Tab</b>
    li To uppercase: <b>Ctrl + KU</b> | <b>⌘ + KU</b>
    li To lowercase: <b>Ctrl + KL</b> | <b>⌘ + KL</b>


section
  h2 Code commands
  ul
    li Duplicate line: <br/><b>Shift + Ctrl + D</b> | <b>⌘ + Shift + D</b>
    li Code comment: <br/><b>Ctrl + /</b> | <b>⌘ + Shift + /</b>
    li Retrieve closed tab: <br/><b>Shift + Ctrl + T</b> | <b>⌘ + Shift + T</b>
    li Search incrementally: <br/><b>Ctrl + I</b> | <b>⌘ + I</b>
    li.fragment <a href="http://www.ractoon.com/wp-content/uploads/2012/10/sublime_text_2_shortcuts_printable_ractoon.pdf?11f46a" target="_blank">More shortcuts</a>

section
  h2 Snippets
  pre
    code.
      <snippet>
        &lt;content>&lt;![CDATA[
        Hello, ${1:this} is a ${2:snippet}.
        ]]>&lt;/content>
          &lt;!-- Optional: Set a tabTrigger to define how to trigger the snippet -->
          &lt;!-- &lt;tabTrigger>hello&lt;/tabTrigger> -->
          &lt;!-- Optional: Set a scope to limit where the snippet will trigger -->
          &lt;!-- &lt;scope>source.python&lt;/scope> -->
        &lt;/snippet>

section
  h2 Plugins
  p.read-block Install from package control
  ul
    li <b>SideBarEnhancements</b>
    li <b>Emmet</b> (HTML5 and HTML structure). Shortcuts for CSS also.
    li <b>SublimeLinter</b> (Install tidy-html5 for HTML https://github.com/w3c/tidy-html5)
    li <b>Prefixr</b> for cross-browser CSS (⌘ + Ctrl + X)
