extend includes/layout

append title
  title Classic HTML and CSS

append slides
  section
    h1 Classic HTML and CSS

  include classic-html/html

  //- CSS
  include classic-html/css-basics

  include classic-html/box-model

  include classic-html/position-and-float

  include classic-html/centering-stuff

  include classic-html/backgrounds-and-borders

  include classic-html/pseudo-classes-elements

  include classic-html/fonts

  section(data-state="lab")
    h2 Lab: Icon Bar and Button Bar
    p Create two button bars in CSS2

  include classic-html/css-resets

  include classic-html/css-frameworks

  include classic-html/print-css