extend includes/layout

append title
  title Classic HTML and CSS

append slides
  section
    h1 Classic HTML and CSS

  include classic-html/html

  //- CSS
  include classic-html/css-basics

  include classic-html/box-model

  include classic-html/position-and-float

  include classic-html/centering-stuff

  include classic-html/backgrounds-and-borders

  section(data-state="lab")
    h2 Lab: Button Bar 1
    p Create a button bar with CSS2

  include classic-html/background-techniques

  include classic-html/pseudo-classes-elements

  include classic-html/fonts

  section(data-state="lab")
    h2 Lab: Button Bar 2
    p Use sprites, image replacement and :after

  include classic-html/css-resets

  include classic-html/print-css
