extend includes/layout

append title
  title JavaScript

append slides
  section
    h1 JavaScript

  include javascript/types
  include javascript/structures
  include javascript/arrays
  include javascript/functions
  include javascript/prototypes
  include javascript/dom
  include javascript/ajax
  include javascript/peculiarities

  include javascript/client-side-storage
  include javascript/appcache
  include javascript/offline-limits
  include javascript/geolocation