html {
  overflow: visible;
  height: auto;
}
body {
  font-size: 30pt;
  overflow: visible;
  height: auto;
  background-image: none;
}
body, p, td, li, div, a {
  font-size: 30pt;
}

h1,h2,h3,h4,h5,h6 {
  text-shadow: 0 0 0 #000 !important;
}

.nestedarrow, 
.controls a, 
.reveal .progress, 
.reveal.overview,
.fork-reveal,
.share-reveal,
.state-background {
  display:none !important;
}

body .reveal {
  width: 100%;
}
body .reveal .slides {
  position: static;
  margin: 0;
  max-width: none;
  __width: 2040pt;
  width: auto;
  height: auto;
  overflow: hidden;
  /*
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;

  -webkit-transform: scale(0.245098039);
   -moz-transform: scale(0.245098039);
    -ms-transform: scale(0.245098039);
     -o-transform: scale(0.245098039);
        transform: scale(0.245098039);
        */
}

.reveal .slides>section, .reveal .slides>section>section, 
.reveal .slides>section.past, .reveal .slides>section.future,
.reveal.linear .slides>section, .reveal.linear .slides>section>section,
.reveal.linear .slides>section.past, .reveal.linear .slides>section.future {
  display: block !important;
  position: relative;
  opacity: 1 !important;

  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

body .reveal .slides  > section:not(.stack),
body .reveal .slides  > section > section:not(.stack) {
  __float: left;
  __position: relative;
  __box-sizing: content-box;
  __width: 794pt;
  __height: 550pt;
  __min-width: 694pt;
  __min-height: 450pt;
  __margin: 80pt 63pt;
  __background-color: rgba(150, 150, 150, 0.2);
  
  padding: 38pt;
  overflow: hidden;
  border: 2.5pt solid rgba(50, 50, 50, 0.2);
}

/*
body .reveal .slides section[data-state="lab"] {
  background-color: #555;
  color: white;
}

body .reveal .slides section[data-state="lab"] h1,
body .reveal .slides section[data-state="lab"] h2,
body .reveal .slides section[data-state="lab"] h3 {
  color: white;
}

pre code {
  color: white;
  background: #555;
  background-color: #555;
}

*/

.reveal .slides>section, .reveal .slides>section>section, 
.reveal .slides>section.past, .reveal .slides>section.future,
.reveal.linear .slides>section, .reveal.linear .slides>section>section,
.reveal.linear .slides>section.past, .reveal.linear .slides>section.future {
    /* cannot page-break floated elements, see http://stackoverflow.com/questions/1630819/google-chrome-printing-page-breaks */
    float: none !important;
    display: block !important;
    overflow: hidden;
    background: transparent url(../../raster/background.png) no-repeat 0 0;
    background-size: content;
    page-break-inside: avoid !important;
    __page-break-after: always !important;
    margin: 0 !important;
    max-height: 250pt !important;
    height: 250pt !important;
    max-width: 100% !important;
    box-sizing: border-box !important;
  }

  /** use colors as in screen */
  * {
    -webkit-print-color-adjust:exact;
  }
