article
  mixin labHeader('JavaScript Prototypes')

  h3 Duration
  p 20 min

  p Create a Task object with the following properties:

  ul
    li The object must receive a text parameter with the task name
    li done property: true/false
    li text property: string
    li toString method
    li do method
    li undo method
    li isDone method

  p Convert TaskList in an object that use the new Task object