article
  mixin labHeader('JavaScript Functions')

  h3 Duration
  p 20 min

  p Implement a TaskList.js file containing the following features:

  ul
    li Will define an array of tasks (objects)
    li Each task will have two properties: done and text
    li Functions:
      ul
        li add: Add a task to the array (by default, done will be false)
        li remove: Remove a task with the provided text
        li doTask: Mark a task as done
        li doneList: All tasks with the done property setted to true
        li pendingList: All tasks with the done property setted to false
        li all: All the tasks
        li toConsole: print all the tasks using console.log
    li Refactor all the code in order to use the same iterator as a closure