article
  mixin labHeader('JavaScript Types')

  h3 Duration
  p 10 min

  ul
    li Create a JavaScript object for Mary and John with the properties: name, surname, age
    li Print with ≤code>console.log</code> if Mary if older than John
    li Add only to John the country property
    li Check if Mary has a country assigned and if not, create this value and set it to 'Unknown'
