article
  mixin labHeader('JavaScript Structures')

  h3 Duration
  p 20 min

  p Solve the Fizz Buzz code Kata:
  ul
    li If a number can be divided by 3, then return "Fizz"
    li If a number can be divided by 5, then return "Buzz"
    li If a number can be divided by 3 and 5, then return "FizzBuzz"
    li Otherwise, return the number

  p Sample output:

  pre
    code.
      1
      2
      "Fizz"
      4
      "Buzz"
      "Fizz"
      7
      8
      "Fizz"
      "Buzz"
      11
      "Fizz"
      13
      14
      "FizzBuzz"
      16
      17
      "Fizz"
      19
      "Buzz"
