article
  mixin labHeader('JavaScript DOM')

  h3 Duration
  p 20 min

  p Build in JavaScript a full TODO list UI:

  ul
    li Define an HTML tag with the ID content
    li Enhance content DIV with several componentes built from JavaScript:
      ul
        li Create a form
        li Create an input
        li Add a button