article
  mixin labHeader('Foundation 1: Scaffolding with Foundation')
  h3 Duration
  p 15 minutes
  h3 Description
  p A mockup of a webpage introducing Foundation is provided, together with the HTML contents. Adapt these contents to the scaffolding shown in capture. To do so, add the appropiate Foundation classes to the HTML elements. <b>Do not remove existing classes</b>.
  img(src="assets/raster/foundation-capture-1.png", width="700")

  p Foundation grid system uses <b><code>.[small|medium|large]-#</code></b> classes with scaffolding, inside rows defined by <b>.<code>row</code></b>
  p The Foundation documentation can be found at the <a href="http://foundation.zurb.com/docs/">Foundation website</a>