
section
  h2 Shortcuts: border
  p border: <b>{border-width} {border-style} {border-color}</b>

  pre
    code.
      p {
        border: 1px solid #0f0f0f;
      }
mixin arrowCSS(tagName)
  #{tagName}.
    .arrow_box {
      position: relative;
      background: #88b7d5;
      border: 4px solid #c2e1f5;
      padding: 10px 5px;
    }
    .arrow_box:after, .arrow_box:before {
      bottom: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .arrow_box:after {
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: #88b7d5;
      border-width: 20px;
      left: 50%;
      margin-left: -20px;
    }
    .arrow_box:before {
      border-color: rgba(194, 225, 245, 0);
      border-bottom-color: #c2e1f5;
      border-width: 26px;
      left: 50%;
      margin-left: -26px;
    }
section
  h2 CSS triangles

  .row-fluid
    .span6
      mixin arrowCSS('style')
      .arrow_box
        a(href="http://cssarrowplease.com") cssarrowplease.com
    .span6
      pre(style="font-size: 45%;")
        mixin arrowCSS('code')

section
  h2 CSS triangles
  #css-triangles-explanation
    style
      #css-triangles-explanation .block {
        margin: 0 auto;
        width: 100px;
        height: 100px;

        border: 20px solid !{ourRed.hex};
        border-bottom-color: !{ourBlue.hex};
      }
      #css-triangles-explanation .blocks small {
        font-size: 50%;
        line-height: 150%;
        margin-top: 15px;
        display: block;
      }
      #css-triangles-explanation .block-2,
      #css-triangles-explanation .block-3,
      #css-triangles-explanation .block-4,
      #css-triangles-explanation .block-5 {
        border-top-color: transparent;
      }
      #css-triangles-explanation .block-3,
      #css-triangles-explanation .block-4,
      #css-triangles-explanation .block-5 {
        width: 0;
      }
      #css-triangles-explanation .block-4,
      #css-triangles-explanation .block-5 {
        height: 0;
        margin-top: 100px;
      }
      #css-triangles-explanation .block-5 {
        border-right-color: transparent;
        border-left-color: transparent;
      }
    .row.blocks
      .span3
        .block
      .span3
        .block.block-2
        small border-top-color: transparent
      .span2
        .block.block-3
        small width 0
      .span2
        .block.block-3.block-4
        small height 0
      .span2
        .block.block-3.block-4.block-5
        small transparent left/right borders

section
  h2 Color notation examples
  ul.read-block 
    li #f02
    li #ff0022
    li rgb(255, 0, 34)
    li rgb(100%, 0, 13.3%)

section
  h2 Shortcuts: background
  p background: <b>{background-color}</b>
  p <b>{background-image}</b>
  p <b>{background-repeat}</b>
  p <b>{background-position}</b>

  pre
    code.
      .loading {
         background: transparent url('loading.gif') no-repeat 50% 50%;
      }